.schedule {
    margin-top: clamp(2.5rem, 1.667rem + 3.7vw, 5rem);

    & .wrapper {
        @include laptop {
            flex-direction: column;
        }
    }

    & .content {
        width: 42%;

        @include desktop {
            width: 46%;
        }

        @include laptop {
            width: 100%;
        }
    }

    & .chart {
        width: 52%;
        border: var(--border);
        border-radius: var(--border-radius-large);
        padding: 32px;

        @include laptop {
            width: 50%;
        }

        & h2 {
            text-align: center;
            margin-bottom: clamp(1.5rem, 1.355rem + 0.65vw, 2rem);
        }

        @include desktop {
            width: 50%;
        }

        @include laptop {
            width: 100%;
        }

        & .sum {
            padding: 24px;
            @include flex-start;
            border: var(--border);
            border-radius: var(--border-radius);

            @include mobile {
                padding: 16px 12px;
            }
        }
    }
}