html {
    scroll-behavior: smooth;
}

body {
    @include fluid-text(20, 16);
    display: flex;
    flex-direction: column;

    color: var(--color-black);
    background: var(--color-white);

    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: 1.5;

    &.lock {
        max-height: 100vh;
        overflow: hidden;
    }
}

main {
    overflow: hidden;
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 16px;
    gap: 40px 32px;
    max-width: 1600px;
    margin: 0 auto;
}

.page {
    flex: 0 1 auto;
}

aside {
    @include flex-center;
    width: 100%;
    max-width: 300px;
    flex: 0 0 auto;

    @include laptop {
        max-width: none;
    }
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    @include reset-link;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    @include fluid-text(56, 40);
    font-weight: 900;
    text-transform: uppercase;

    & span {
        color: var(--color-blue);
    }
}

h2 {
    @include fluid-text(40, 28);
    font-weight: 700
}

h3 {
    @include fluid-text(24, 20);
    font-weight: 500
}

h4 {
    @include fluid-text(16, 20);
}

h5 {
    @include fluid-text(14, 14);
}

.large {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

.small {
    font-size: 14px;
    font-weight: 400;
}

.wrapper {
    position: relative;
    @include flex-start;
    gap: 32px 20px;
}

.title {
    font-size: 16px;
    line-height: 1.5;
}