$container: 1280;

:root {

    /*colors*/
    --color-black: #252323;
    --color-white: #ffffff;
    --color-blue: #2D5AFD;
    --color-gray: #D8E2ED;

    --color-transparent: transparent;
    --color-shadow: rgba(22, 28, 45, 0.05);
    /*colors*/

    /*border*/
    --border: 2px solid var(--color-gray);
    --border-radius: 16px;
    --border-radius-small: 10px;
    --border-radius-large: 24px;
    /*border*/

    /*body*/
    --font-family-base: "Poppins", sans-serif;

    --container-width: #{$container}px;
    --container-padding-x: clamp(1rem, -0.333rem + 5.93vw, 5rem);

    --section-padding-y: 80px;
    /*body*/

    /*button*/
    --input-height: 64px;
    --button-height: 46px;
    --icon-button-height: 30px;

    --transition-duration: 0.3s;
    /*button*/
}